/* Typohraphy */
html {
  font-size: 62.5%;
}
body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5;
  font-size: 2.4rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
:root {
  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --color-dark-blue: hsl(223, 47%, 23%);
}
